/*chat*/
#jam_chat_sbox,#jam_chat_main{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    background-color: #fff
}
#jam_chat_sbox{
    padding: 10px 20px;
    height:50px;
    cursor: pointer;
    font-size: 16px;
    line-height: 33px;
}
#jam_chat_sbox span{
    font-weight: bold;
    color: #F77825;
}
#jam_chat_main{
    height:600px;
    width:260px;
}
#jam_chat_main .jam_chat_head{
    background-color: #D6D6D6;
    height:35px;
    line-height: 33px;
}
.jam_chat_head .title{
    padding:0 10px;
    font-size: 14px;
    height:35px;
    float: left;
}
.jam_chat_head .close{
    padding:0 10px;
    height:35px;
    margin-top: 5px;
    float: right;
}
.jam_chat_head .close a:link{
    color: #000;
}
.chat-choose{

}
#jam_chat_content{
    height:100%;
}
#jam_chat_top{
    height:77px;
    background-color:#D6D6D6;
}
.chat-choose ul{
    list-style: none;
}
.chat-choose ul li{
    float: left;
    height: 32px;
    width: 50%;
    cursor: pointer;
    line-height: 32px;
    list-style-type: none;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
}
.chat-choose ul .cur{
    border-bottom:2px solid #F77825;
}

#jam_chat_message{
    height:400px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
#jam_chat_message_send{
    height:100%;
    border-top: 2px solid #D6D6D6;
}
#jam_chat_message_content{
    display: block;
    width: 100%;
    padding: 5px 0 0;
    height: 80px;
    line-height: 20px;
    border: none;
    overflow: auto;
    resize: none;
    background: 0 0;
    outline:none;
    margin-bottom: 5px;
    padding: 5px 10px 10px 10px;
    font-size: 14px;
}
#jam_chat_send_btn{
    display: block;
    background-color: #F77825;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
/*聊天信息*/
#jam_chat_message li{
    position: relative;
    font-size: 0;
    margin-bottom: 10px;
    min-height: 68px;
}

.jam-chat-user img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.jam-chat-user span{
    position: absolute;
    left: 50px;
    top: -2px;
    font-size: 12px;
    white-space: nowrap;
    color: #999;
    text-align: left;
}
.jam-chat-user span i{
    padding-left: 10px;
    font-style: normal;
}
.jam-chat-text{
    display: inline-block;
    position: relative;
    line-height: 22px;
    margin-top: 25px;
    padding: 8px 15px;
    background-color: #e2e2e2;
    border-radius: 3px;
    color: #333;
    word-break: break-all;
    margin-left: 10px;
    font-size: 14px;
    width:170px;
}
.jam-chat-user{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.jam-chat-text:after{
    content: '';
    position: absolute;
    left: -10px;
    top: 13px;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #e2e2e2 transparent transparent;
    overflow: hidden;
    border-width: 10px;
}
.jam-chat-mine{
    text-align: right;
    padding-left: 0;
    padding-right: 60px;
}
.jam-chat-mine .jam-chat-user{
    left: auto;
    right: 3px;
    position: absolute;
}
.jam-chat-mine .jam-chat-text{
    margin-left: 0;
    text-align: left;
    background-color: #F77825;
    color: #fff;
    width:170px;
}
.jam-chat-mine ul li{
    position: relative;
    font-size: 0;
    margin-bottom: 10px;
    padding-left: 60px;
    min-height: 68px;
}
.jam-chat-mine .jam-chat-user span{
    left: auto;
    right: 50px;
    text-align: right;
}
.jam-chat-mine .jam-chat-user span i{
    padding-left: 0;
    padding-right: 15px;
}
.jam-chat-mine .jam-chat-text:after{
    left: auto;
    right: -10px;
    border-top-color: #F77825;
}

